#### Create table team(tid, country, totalmatch, win,loss). Insert 8 team detail. Create trigger to verify totalmatch is not 0. export data into csv file. Read file using reader object and print record with winning %age.

In [1]:
import sqlite3 as sq

In [2]:
con=sq.connect("D:/23BCA296/sqlite-tools-win-x64-3460000/team.db")

In [3]:
cur=con.cursor()

In [4]:
q="create table team(tid, country, totalmatch, win,loss)"

In [5]:
cur.execute(q)

In [6]:
con.commit

In [7]:
con.close

### insert record

In [8]:
cur=con.cursor()

In [9]:
cur.execute("insert into team values(1, 'USA', 10, 7, 3)")

In [10]:
cur.execute("insert into team values(2, 'Canada', 12, 8, 4)")

In [11]:
cur.execute("insert into team values(3, 'Mexico', 11, 6, 5)")

In [12]:
cur.execute("insert into team values(4, 'Brazil', 13, 9, 4)")

In [13]:
cur.execute("insert into team values(5, 'Argentina', 10, 5, 5)")

In [14]:
cur.execute("insert into team values(6, 'Germany', 12, 8, 4)")

In [15]:
cur.execute("insert into team values(7, 'France', 11, 7, 4)")

In [16]:
cur.execute("insert into team values(8, 'Italy', 10, 6, 4)")

In [17]:
con.commit()

### create trigger

In [26]:
cur.execute("create trigger verify_totalmatch BEFORE INSERT  ON team\
           begin\
                 select case\
                 when new.totalmatch = 0 THEN\
                 raise(abort,'Total matches cannot be 0')\
                 end;\
                 end;\
        ")

### reading csv file

In [27]:
from csv import reader

In [28]:
read_obj=open("D:/23BCA296/sqlite-tools-win-x64-3460000/csv/team3.csv","r")

In [29]:
csv_reader=reader(read_obj)

In [30]:
for row in read_obj:
    print(row)

tid,country,totalmatch,win,loss

1,USA,10,7,3

2,Canada,12,8,4

3,Mexico,11,6,5

4,Brazil,13,9,4

5,Argentina,10,5,5

6,Germany,12,8,4

7,France,11,7,4

8,Italy,10,6,4